/* havana */        #forum-5114037 .c_last { background:url(http://i66.tinypic.com/2r2sriu.png) center #ccb; }
/* salt key */      #forum-5114042 .c_last { background:url(http://i63.tinypic.com/15zf8rq.png) center #ccb; }
/* arroyos */       #forum-5114048 .c_last { background:url(http://i66.tinypic.com/2pq9lhd.png) center #ccb; }
/* matanzas */      #forum-5114052 .c_last { background:url(http://i63.tinypic.com/2z5m2x0.png) center #ccb; }
/* dry tortuga */   #forum-5114075 .c_last { background:url(http://i68.tinypic.com/antw2.png) center #ccb; }
/* port royal */    #forum-5114059 .c_last { background:url(http://i65.tinypic.com/w2k6yd.png) center #ccb; } 
/* kingston */      #forum-5114060 .c_last { background:url(http://i67.tinypic.com/29e3pt3.png) center #ccb; }
/* caves */         #forum-5114064 .c_last { background:url(http://i68.tinypic.com/2gy1qtw.png) center #ccb; }
/* new bone */      #forum-5114078 .c_last { background:url(http://i68.tinypic.com/n680hi.png) center #ccb; }
/* charlotte */     #forum-5114076 .c_last { background:url(http://i66.tinypic.com/2r26gcy.png) center #ccb; }
/* nassau */        #forum-5114065 .c_last { background:url(http://i63.tinypic.com/1427hcp.png) center #ccb; }
/* tortuga */       #forum-5114067 .c_last { background:url(http://i67.tinypic.com/2cyqvlw.png) center #ccb; }
/* upriver */       #forum-5114177 .c_last { background:url(http://i67.tinypic.com/2vtvb0x.png) center #ccb; }
/* andreas */       #forum-5114068 .c_last { background:url(http://i68.tinypic.com/10rjshz.png) center #ccb; }
/* tulum */         #forum-5114080 .c_last { background:url(http://i64.tinypic.com/17u3p3.png) center #ccb; }
/* ocean */         #forum-5114082 .c_last { background:url(http://i64.tinypic.com/30iktmt.png) center #ccb; }
/* uncharted */     #forum-5114083 .c_last { background:url(http://i64.tinypic.com/5fhk7q.png) center #ccb; }
